body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: black;
}
  
#gameCanvas {
    margin: 0 auto;
    border: 1px solid #19d940;
    background: grey;
}

.scoreBlock {
    font-size: 25px;
    color: #fff;
}